nav.navbar.navbar-header.navbar-expand-lg.mb-5
  .container
    a.navbar-brand.site-title(href="/") Jogja Lawan Corona

    .navbar-nav
      a.text-dark.ml-3.py-1(
        class=(bodyClass === "beranda" ? "active" : undefined)
        href="/") Beranda
      a.text-dark.ml-3.py-1(
        class=(bodyClass === "statistik" ? "active" : undefined)
        href="/statistik") Statistik
      a.text-dark.ml-3.py-1(
        class=(bodyClass === "formulir" ? "active" : undefined)
        href="/formulir") Formulir Pendaftaran APD
      a.text-dark.ml-3.py-1(
        class=(bodyClass === "laporan" ? "active" : undefined)
        href="/laporan") Laporan
      a.text-dark.ml-3.py-1(
        class=(bodyClass === "tentang" ? "active" : undefined)
        href="/tentang") Tentang Kami
      a.text-dark.ml-3.py-1(
        href="#kontak") Kontak
